@model Application.ViewModels.Account.ChangePasswordViewModel
@{
    ViewData["Title"] = "تغییر رمزعبور";
    Layout = "_BlankLayout";
}

<div class="col-lg-4 col-md-6 col-xs-12 mx-auto">
    <div class="account-box">
        <span class="account-head-line">تغییر رمز عبور</span>

        <div class="content-account" style="direction:ltr;text-align:right;">
            <form asp-action="ChangePassword" asp-controller="Account" method="post">

                <div class="form-group">
                    <label asp-for="OldPassword"></label>
                    <div class="input-group ">
                        <input class="form-control" asp-for="OldPassword" placeholder=" رمزعبور فعلی را وارد کنید">
                        <div class="input-group-append">
                            <div class="input-group-text"><i class="fa fa-lock"></i></div>
                        </div>
                    </div>
               

                </div>

                <div class="form-group">
                    <label asp-for="Password"></label>
                    <div class="input-group ">
                        <input class="form-control" asp-for="Password" placeholder=" رمزعبور جدید را وارد کنید">
                        <div class="input-group-append">
                            <div class="input-group-text"><i class="fa fa-lock"></i></div>
                        </div>
                    </div>
                   

                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword"></label>
                    <div class="input-group ">
                        <input class="form-control" asp-for="ConfirmPassword" placeholder=" تکرار رمزعبور جدید را وارد کنید">
                        <div class="input-group-append">
                            <div class="input-group-text"><i class="fa fa-lock"></i></div>
                        </div>
                    </div>
                   
                </div>

                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="parent-btn">
                    <button class="dk-btn dk-btn-info" type="submit">
                        تغییر رمز عبور
                        <i class="fa fa-refresh sign-in"></i>
                    </button>
                </div>
            </form>
        </div>


    </div>
</div>

