@model Application.ViewModels.Account.ForgetPasswordViewModel

@{
    Layout = "_BlankLayout";
    ViewData["Title"] = "فراموشی رمزعبور";
}

<div class="col-lg-4 col-md-6 col-xs-12 mx-auto">
    <div class="account-box">
        <span class="account-head-line">فراموشی رمزعبور</span>
        <div class="content-account" style="direction:ltr;text-align:right;">

            <form asp-action="ForgetPassword" asp-controller="Account" method="post">


                <div class="form-group">
                    <label asp-for="Email"></label>
                    <div class="input-group ">
                        <input class="form-control" asp-for="Email" aria-describedby="emailHelp" placeholder=" ایمیل خود را وارد کنید">

                        <div class="input-group-append">
                            <div class="input-group-text"><i class="fa fa-envelope"></i></div>
                        </div>
                    </div>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="parent-btn">
                    <button type="submit" class="dk-btn dk-btn-info">
                        ارسال ایمیل فراموشی رمزعبور
                        <i class="fa fa-send sign-in"></i>
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>
