@model Application.ViewModels.Account.LoginViewModel

@{
    Layout = "_BlankLayout";
    ViewData["Title"] = "ورود به حساب کاربری";
}

<a asp-controller="Home" asp-action="Index" class="logo-account"><img src="~/assets/images/logo.png"></a>
<div class="col-lg-4 col-md-6 col-xs-12 mx-auto">
    <div class="account-box">
        <span class="account-head-line">ورود به دیجی‌استور</span>
        <form asp-action="Login" method="post" asp-route-returnUrl="@ViewData["returnUrl"]">
            <div class="content-account"  style="direction:ltr;text-align:right;">

                <div class="form-group">
                    <label asp-for="UserNameOrEmail"></label>
                    <div class="input-group ">
                        <input class="form-control" asp-for="UserNameOrEmail" placeholder="نام کاربری یا رمزعبور خود را وارد کنید">

                        <div class="input-group-append">
                            <div class="input-group-text"><i class="fa fa-user-circle"></i></div>
                        </div>
                    </div>
                    <span asp-validation-for="UserNameOrEmail" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password"></label>
                    <div class="input-group ">
                        <input class="form-control" asp-for="Password" placeholder=" رمزعبور خود را وارد کنید">
                        <div class="input-group-append">
                            <div class="input-group-text"><i class="fa fa-lock"></i></div>
                        </div>
                    </div>
                    <span asp-validation-for="Password" class="text-danger"></span>

                </div>

              

                <div asp-validation-summary="ModelOnly" class="message-light text-danger"></div>

                <div class="parent-btn">
                    <button type="submit" class="dk-btn dk-btn-info">
                        ورود به دیجی استور
                        <i class="fa fa-sign-in sign-in"></i>
                    </button>
                </div>



                <div class="form-auth-row">
                    <label for="#" class="ui-checkbox">
                        <input asp-for="RemmberMe" value="true" checked="" id="remember">
                        <span class="ui-checkbox-check"></span>
                    </label>
                    <label asp-for="RemmberMe" class="remember-me"></label>
                </div>

            </div>
        </form>
        <a asp-controller="Account" asp-action="ForgetPassword" class="account-link-password">رمز خود را فراموش کرده ام</a>


        <div class="account-footer">
            <span>کاربر جدید هستید؟</span>
            <a asp-action="SignUp" class="btn-link-register">ثبت‌ نام در دیجی‌استور</a>
        </div>
    </div>
</div>

