@model Application.ViewModels.Account.SignUpViewModel

@{
    Layout = "_BlankLayout";
    ViewData["Title"] = "ایجاد حساب کاربری";
}


<div class="col-lg-4 col-md-6 col-xs-12 mx-auto">
    <div class="account-box">
        <span class="account-head-line">ثبت نام در دیجی‌استور</span>
        <form asp-action="SignUp" method="post" asp-route-returnUrl="@ViewData["returnUrl"]">

            <div class="content-account" style="direction:ltr;text-align:right;">

                <div class="form-group ">
                    
                    <label asp-for="UserName" ></label>

                    <div class="input-group ">
                        <input class="form-control" asp-for="UserName" placeholder=" نام کاربری خود را وارد کنید">
                        <div class="input-group-append">
                            <div class="input-group-text"><i class="fa fa-user"></i></div>
                        </div>
                    </div>
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Email"></label>
                    <div class="input-group ">
                        <input class="form-control" asp-for="Email" aria-describedby="emailHelp" placeholder=" ایمیل خود را وارد کنید">

                        <div class="input-group-append">
                            <div class="input-group-text"><i class="fa fa-envelope"></i></div>
                        </div>
                    </div>
                     <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password"></label>
                    <div class="input-group ">
                        <input class="form-control" asp-for="Password" placeholder=" رمزعبور خود را وارد کنید">
                        <div class="input-group-append">
                            <div class="input-group-text"><i class="fa fa-lock"></i></div>
                        </div>
                    </div>
                    <span asp-validation-for="Password" class="text-danger"></span>

                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword"></label>
                    <div class="input-group ">
                        <input class="form-control" asp-for="ConfirmPassword" placeholder=" تکرار رمزعبور خود را وارد کنید">
                        <div class="input-group-append">
                            <div class="input-group-text"><i class="fa fa-lock"></i></div>
                        </div>
                    </div>
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>

             
                <div asp-validation-summary="All" class="message-light text-danger"></div>


                <div class="parent-btn">
                    <button type="submit" class="dk-btn dk-btn-info">
                        ثبت نام در دیجی استور
                        <i class="mdi mdi-account-plus-outline sign-in"></i>
                    </button>
                </div>
                @*<div class="form-auth-row">
            <label for="#" class="ui-checkbox">
                <input type="checkbox" value="1" name="login" checked="" id="remember">
                <span class="ui-checkbox-check"></span>
            </label>
            <label for="remember" class="remember-me"><a href="#">حریم خصوصی</a> و <a href="#">شرایط قوانین</a>استفاده از سرویس های سایت دیجی‌استور را مطالعه نموده و با کلیه موارد آن موافقم.</label>
        </div>*@

            </div>
        </form>

        <div class="account-footer">
            <span>قبلا در دیجی‌استور ثبت‌ نام کرده‌اید؟</span>
            <a asp-action="Login" class="btn-link-register">وارد شویــد</a>
        </div>
    </div>
</div>
@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

}

