

@{
    Layout = "_BlankLayout";
    ViewData["Title"] = "خوش آمدید";
}

<div class="col-lg-4 col-md-6 col-xs-12 mx-auto">
    <div class="account-box">
        <span class="account-head-line">به دیجی استور خوش آمدید</span>
        <div class="content-account">
            <div class="account-box-message">
                <div class="user-account-welcome">
                    <span class="mdi mdi-account-outline user-welcome"></span>
                </div>
                <div class="made-account">
                    <h2>حساب کاربری شما در دیجی استور ساخته شد</h2>
                    <p>
                       ایمیل تایید حساب کاربری به شما ارسال شد
                    </p>
                </div>
            </div>
            <ul>
                <li>
                    <div class="parent-btn">
                        <a asp-controller="Profile" asp-action="Index" class="dk-btn dk-btn-info">
                            ورود به پروفایل
                            <i class="fa fa-user sign-in"></i>
                        </a>
                    </div>
                </li>
                <li>
                    @if (ViewData["returnUrl"]!=null)
                    {
                        <a href="@ViewData["returnUrl"]" class="back-page-before">بازگشت به صفحه‌ای که در آن بودید</a>

                    }
                    else
                    {
                        <a asp-action="Index" asp-controller="Home" class="back-page-before">بازگشت به صفحه‌ای اصلی</a>

                    }
                </li>
            </ul>

        </div>


    </div>
</div>