<footer class="footer-light">
    <div class="container">
        <ul class="footer-light-link">
            <li><a href="#">درباره دیجی استور</a></li>
            <li><a href="#">فرصت‌های شغلی</a></li>
            <li><a href="#">تماس با ما</a></li>
            <li><a href="#">همکاری با سازمان‌ها</a></li>
        </ul>

        <p class="title-footer">استفاده از مطالب فروشگاه اینترنتی دیجی‌استور فقط برای مقاصد غیرتجاری و با ذکر منبع بلامانع است. کلیه حقوق این سایت متعلق به شرکت نوآوران فن آوازه (فروشگاه آنلاین دیجی‌استور) می‌باشد.</p>

        <p class="copy-right-footer-light">Copyright © 2006 - 2019 DigiStore.com</p>
    </div>
</footer>